.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.totalBox {
  margin-top: 20vh;
}
.dropdown-toggle,
.my-btn {
  border: 1px solid #ced4da;
}
.my-btn {
  border: 1px solid #ced4da;
  border-left-width: 0rem;
}
.dropdown-menu {
  min-width: 9rem;
}
.nav-link,
.input-group,
.form-control {
  height: 3rem;
}
.form-control {
  border-right-width: 0rem;
}
.nav-link {
  text-align: center;
  color: black;
}
.nav-pills .active {
  background-color: white !important;
  background: linear-gradient(to right, #cfd2dd, #b9d2ec, #bebfbd);
}
.btn:focus,
.form-control:focus {
  box-shadow: none;
}
.custom-control {
  display: inline-block;
  margin-right: 2em;
  width: 6rem;
}
.myFromBox {
  box-shadow: 1px 1px 5px #9f9999;
}
.title {
  padding-bottom: 1em;
  text-shadow: -1px -1px 2px #a0a5b3, -2px -2px 2px #a0a5b3, -3px -3px 2px #a0a5b3, -3px -3px 2px #a0a5b3, -4px -4px 2px #a0a5b3;
  color: #232379;
  font-family: '华文行楷';
}
.title h3 {
  font-size: 32px;
}
